*{
	margin: 0px;
}
.box{
	background-color: rgba(26,26,26,0.9);
	width: 100%;
	height: 44px;
	
}
.nav{
	/*得水平居中*/
	width: 1200px;
	height: 44px;
	margin: auto;
	display: flex;
	align-items: center;/*flex 配合align-items:center 垂直居中*/
	
}
.nav a:hover{
	transform: rotate(360deg) scale(1.5);
	-ms-transform:rotate(360deg) scale(1.5); 	/* IE 9 */
	-moz-transform:rotate(360deg) scale(1.5); 	/* Firefox */
	-webkit-transform:rotate(360deg) scale(1.5); /* Safari 和 Chrome */
	-o-transform:rotate(360deg) scale(1.5);
}
.box1{
	color: #fff;
	letter-spacing: 6px;/*字体间距*/
	font-size: 18px;
	font-weight: bold;/*字体加粗*/
	text-decoration:none;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;

}
.box1:hover{
	color: rgba(0,191,255,0.9);
	 
}

.box2{
	margin: auto;
}
.box2 ul{
	list-style: none;/*去除li前面的小黑点*/
	margin: 0px;
	padding: 0px;
}
.box2 ul li{
	display: inline-block;/*行内元素横向排列*/
	margin: 0 20px;
	-webkit-transition: 0.5s ease;/*过渡效果*/
}
.box2 ul li:hover{
	
	transform:scale(1.3);/* rotate()旋转 scale()缩放*/
	

}
.box2 ul li a{
	text-decoration: none;/*去掉a标签的下划线*/
	color: rgba(255,255,255,1);
	font: 14px "Microsoft Yahei",Arial;
	-webkit-transition: 0.5s ease;
}
.box2 ul li a:hover{
	color: rgba(0 ,255 ,255,1);
	
}

.shops{
	width: 100%;
	height: 680px;
	overflow: hidden;
	margin: 0px auto;
	display: flex;
	
}
.inner {
	width: 100%;
	margin: 0px auto;
	/*text-decoration: none;*/
	overflow: hidden;
}
.inner ul{
	margin: 0px;
	padding:0px;
	list-style: none;/*去除li前面的小黑点*/
}
.inner ul li {
	display: inline-block;
}
.inner ul li a {
	text-decoration: none;/*去掉a标签的下划线*/
}

